.rounded-entity {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 6px solid #7e838a;
    transition: all 0.1s ease;
    cursor: pointer;
}

.rounded-entity:hover {
    background-color: #7e838a;
    color: white;
    fill: white;
}

.def-role-permissions-box {
    position: absolute;
    display: flex;
    left: 50%;
    top: calc(100% + 4px);
}

.manage-role-abs-button {
    position: absolute;
    display: flex;
    right: -2px;
    top: -4px;
}

.user-role-entity {
    padding: 0 16px;
    margin: 0 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 110px;
}

.user-rounded-entity-avatar {
    width: 64px;
    height: 64px;
    border: 6px solid #7e838a;
    border-radius: 50%;
    overflow: hidden;
}

.role-users-container {
    border: 1px solid #7e838a;
}

.role-users-role-desc {
    padding: 10px;
    border-right: 1px solid #7e838a;
}

.straight-vline {
    height: 14px;
    width: 1px;
    background-color: #7e838a;
}

.role-user-manage-button-and-section {
    position: absolute;
    top: 0;
    right: -10px;
}

.hover-fill-style {
    cursor: pointer;
    transition: all 0.1s ease;
}

.hover-fill-style:hover {
    background-color: #7e838a;
    fill: white;
    color: white;
}

.permissions-wrapper {
    padding: 8px;
    border-radius: 4px;
    background-color: rgb(248, 248, 248);
    border: 1px solid #d5d5d5;
}

.rap-member-avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 5px solid #52affb;
}

.animated-input-selection {
    transition: all 0.2s ease;
}
